# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor Directories
.vscode/
.idea/

# Temporary Files
*.tmp
*.temp
*.swp
*.swo
*~
